@charset "UTF-8";

.masinfo{
	padding: 20px;
	background-image: url("/images/graduados.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

.masinfo{
	color: white;
}
.container{
		padding: 60px;
}
.container h4{
	color: white;
	
}
.container p{
	color: #959595;
}
.container a{
	text-decoration: none;
	color: #959595;
}